@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
  position: relative;
  min-height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5;
  color: #6c757d; /*#222*/
  text-align: left;
  background-color: #fafbfe;
  position: relative;
}

.footer {
  background-color: #f8f9fa;
  clear: both;
  position: relative;
  color: #6c757d;
  font-size: 18px;
 }


@supports (-webkit-overflow-scrolling: touch) {
  body {
    cursor: pointer;
  }
}